div.jumbotron {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("https://source.unsplash.com/user/erondu/2000x400")
    
    }
    
    .white{
        color:rgb(255, 255, 255);
    }